/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
    background: #111;
}

/* HEADER */
header {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: #222;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.logo a {
    font-size: 26px;
    font-weight: bold;
    color: #00d084;
    text-decoration: none;
}

/* MENU */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav li {
    position: relative;
}

nav a {
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

nav li:hover > a {
    background: #555;
}

/* DROPDOWN */
.mega-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    background: rgba(50, 50, 50, 0.95);
    padding: 15px;
    display: none;
    border-radius: 10px;
}

.mega-menu a {
    display: block;
    padding: 8px;
}

nav li:hover .mega-menu {
    display: block;
}

/* SEARCH + BUTTON */
.buttons {
    display: flex;
    gap: 8px;
}

.buttons input,
.buttons button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}

.buttons button {
    background: #00d084;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background: #d35400;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.hero-left {
    width: 50%;
}

.tag {
    background: #101010;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
    width: 200px; 
}

.hero-left h1 {
    font-size: 38px;
    margin: 15px 0;
}

.desc {
    color: #ccc;
    line-height: 1.6;
}

.read-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: #00d084;
    border-radius: 25px;
    cursor: pointer;
}

/* SWIPER */
.swiper {
    width: 400px;
    padding: 40px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.swiper-slide img {
    width: 200px;
    border-radius: 15px;
    opacity: 0.4;
    transform: scale(0.8);
}

.swiper-slide-active img {
    opacity: 1;
    transform: scale(1.1);
}

.swiper-slide-prev img,
.swiper-slide-next img {
    opacity: 0.6;
    transform: scale(0.9);
}

/* BOOK GRID */
.content {
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.book img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.book img:hover {
    transform: scale(1.05);
}

.title {
    margin-top: 8px;
    font-weight: bold;
}


.banner {
    width: 100vw;              
}

.banner .swiper {
    width: 100%;
    height: 400px;
    background: #000; 
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}
/* ===== FOOTER ===== */
footer {
      
      color: #ccc;
      background: #111;
    }
    .footer-top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .footer-logo {
      
      color: white;
    }
    .footer-logo h2 {
      color: #10a37f;
      font-size: 40px;
      margin: 0;
    }
    .footer-logo p {
      margin: 5px 0 15px;
    }
    .footer-logo i {
      margin-right: 8px;
      color: #10a37f;
    }
    
   
    .footer-bottom {
      border-top: 1px solid #333;
      padding-top: 20px;
      font-size: 13px;
      line-height: 1.6;
      color: #aaa;
    }
    .footer-bottom img {
      height: 40px;
      margin: 10px 0;
    }
    